<!DOCTYPE html>
<html>
<head>
	<title>Angular 1 Project</title>
	<!-- Angular Material CSS now available via Google CDN; version 1.0.7 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
    <link href="node_modules/mdi/css/materialdesignicons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/styles.css">

	<!-- Angular Material Dependencies -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>

    <!-- Angular Material Javascript now available via Google CDN; version 1.0.7 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.7/angular-material.min.js"></script>


	<script type="text/javascript" src="scripts/myapp.js"></script>
	<script type="text/javascript" src="components/classifieds.ctr.js"></script>
	<script type="text/javascript" src="components/classifieds.fac.js"></script>
</head>
<body ng-app="classifieds" ng-controller="classifiedsCtrl">

	<md-toolbar>
		<div class="md-toolbar-tools">
			<p><strong>ngClassified</strong></p>
			<md-button>
				<md-icon class="mdi mdi-plus-circle"></md-icon>
				New Classified
			</md-button>
		</div>
	</md-toolbar>

	<md-content class="md-padding" layout="column" layout-wrap>
		<md-card ng-repeat="classified in classifieds" flex="33" class="classified">
			<img ng-src="{{ classified.image }}" alt="" class="md-avatar">
			<md-card-content>
				<div class="classified-info" ng-hide="showContact">
					<h2 class="md-title">{{ classified.title }}</h2>
					<h2> {{ classified.posted | date }} </h2>
					<h3> {{ classified.price | currency }} </h3>
					<p> {{ classified.description }} </p>
				</div>

				<div class="classified-contact" ng-show="showContact">
					<p><md-icon class="mdi mdi-account"></md-icon> {{ classified.contact.name }} </p>
					<p><md-icon class="mdi mdi-phone"></md-icon> {{ classified.contact.phone }} </p>
					<p><md-icon class="mdi mdi-email"></md-icon> {{ classified.contact.email }} </p>
				</div>

				<div layout="row">
					<md-button 
						ng-click="showContact = true"
						ng-show="!showContact">
						Contact
					</md-button>

					<md-button 
						ng-click="showContact = fasle"
						ng-show="showContact">
						Details
					</md-button>

					<md-button 
						ng-click="showAdmin = true"
						ng-show="!showAdmin">
						Admin
					</md-button>

					<md-button 
						ng-click="showAdmin = false"
						ng-show="showAdmin">
						Close
					</md-button>
				</div>

				<div class="classified-admin" ng-if="showAdmin">
			        <h3>Admin</h3>
			        <div layout="row">
			          	<md-button 
			            	class="md-primary">
			            	Edit
			          	</md-button>
			          	<md-button 
			            	class="md-warn">
			            	Delete
			          	</md-button>
			        </div>
			    </div>

			</md-card-content>
		</md-card>
	</md-content>

</body>
</html>